<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Librarian</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Librarian</a>
        </div>
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= if logged_in?(@conn) do %>
            <li>
              <a href="<%= profile_path @conn, :show %>">Profile</a>
            </li>
            <li>
              <a href="<%= session_path @conn, :delete %>">Logout</a>
            </li>
          <% else %>
            <li>
              <a href="<%= registration_path @conn, :new %>">Signup</a>
            </li>
            <li>
              <a href="<%= session_path @conn, :new %>">Login</a>
            </li>
          <% end %>
        </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <% flash_info = get_flash @conn, :info %>
      <%= if flash_info do %>
        <div class="alert alert-warning" role="alert"><%= flash_info %></div>
      <% end %>
      <% flash_error = get_flash @conn, :error %>
      <%= if flash_error do %>
        <div class="alert alert-success" role="alert"><%= flash_error %></div>
      <% end %>
      <%= @inner %>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"</script>
    <script>require("/web/static/app")</script>
  </body>
</html>
