<div class="row">
  <div class="col-md-12">
    <%= if logged_in?(@conn) do %>
      Hello <%= current_user(@conn).email %>
      <br>
      <br>
      <ul>
        <li>
          Login with <a href="<%= google_path @conn, :index %>">Google</a>.
        </li>
        <li>
          Login with <a href="<%= github_path @conn, :index %>">Github</a>.
        </li>
      </ul>
    <% else %>
      Please login.
    <% end %>
  </div>
</div>
